*{
    margin: 0;
    padding: 0;
}
#noticias{
    border: 3px solid purple;
    border-radius: 10px;
}

.header-noticias{
    
}

h3{
    color: red;
    background-color: bisque;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.noticia{
    border: 2px solid black;
    margin: 30px;
    
}